body {
    background-color: #889696;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

section {
    /* margins */
    margin-left: auto;
    margin-right: 50%;
}

ul {
    font-size: 20px;
    /* margins */
    margin-right: auto;
    margin-left: 9%;
}

.main-title {
    text-shadow: 4px 4px #EFFFFA;
}

nav {
    background-color: darkslategrey;
}

footer {
    background-color: darkslategrey;
}