body {
    font-family: "Gideon Roman";
}

.main-title {

}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2b2b2b;
    color: white;
}

.home-pane {
    background-color: #EFFFFA;
}

.side-pane {
    background-color: #8e8e8e;
}

footer {

}

footer.left {

}

footer.right {

}

footer.centre {

}