p {
    word-wrap: anywhere;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: palevioletred;
}

h1, h2, h4 {
    font-family: serif;
    color: green;
}

header {
    margin-left: auto;
    margin-right: auto;
}